<h1>Bienvenue !</h1>

<section>
	<h2>Jeux mis en avant</h2>

	{{#if highlightedGames.length}}
		<ul>
			{{#each highlightedGames}}
				<li>
					<strong>Nom du jeu :</strong>  <p>{{title}}</p>
					{{#if genre}}
						<strong>Genre :</strong> <p>{{genre.name}}</p>
					{{/if}}
					{{#if editor}}
						<strong>Éditeur :</strong> <p>{{editor.name}}</p>
					{{/if}}

					<a href="/games/{{id}}">Voir</a>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p>Aucun jeu n'est mis en avant pour le moment.</p>
	{{/if}}
</section>

