<h1>Détails du jeux</h1>

<p><strong>Titre:</strong> {{game.title}}</p>
<p><strong>Description:</strong> {{game.description}}</p>
<p><strong>Date de sortie:</strong> {{game.releaseDate}}</p>
<p><strong>mis en avant:</strong> {{game.highlighted}}</p>
<p><strong>Genre:</strong> {{game.genre.name}}</p>
<p><strong>Éditeur:</strong> {{game.editor.name}}</p>

<a href="/games/{{game.id}}/edit">Modifier le jeu</a>
<a href="/games">Retour à la liste des jeux</a>
<a href="/">Accueil</a>