<section class="games-collection">
    <div class="games-collection__header">
        <div>
            <h1>Liste des jeux</h1>
            <p>Parcourez l'ensemble des titres enregistrés et accédez rapidement à leur fiche détaillée.</p>
        </div>
        <form action="/games/create" method="GET">
            <button type="submit" class="cta">Ajouter un jeu</button>
        </form>
    </div>

    {{#if games.length}}
        <ul class="games-list">
            {{#each games}}
                <li class="games-card">
                    <div class="games-card__title">
                        <span class="games-card__label">Jeu</span>
                        <p>{{title}}</p>
                    </div>
                    <div class="games-card__meta">
                        {{#if genre}}
                            <span>{{genre.name}}</span>
                        {{/if}}
                        {{#if editor}}
                            <span>{{editor.name}}</span>
                        {{/if}}
                    </div>
                    <a href="/games/{{id}}" class="games-card__link">Voir</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p class="games-collection__empty">Aucun jeu n'est enregistré pour le moment.</p>
    {{/if}}
</section>

